@model Mentoring.Web.Models.AllMenteesModel

@{
    ViewBag.Title = "Mentees By Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
@Html.ActionLink("Summary", "Summary")
&nbsp;|&nbsp; 
@Html.ActionLink("Pending Approval Mentees", "PendingApproval")
&nbsp;|&nbsp; 
@Html.ActionLink("Mentees By Status", "ByStatus")
&nbsp;|&nbsp; 
@Html.ActionLink("Inactive Mentees", "Inactive")
&nbsp;|&nbsp; 
@Html.ActionLink("Rejected Mentees", "Rejected")
&nbsp;|&nbsp; 
@Html.ActionLink("Pending Renewal Mentees", "PendingRenewal")

<br/>
<br/>
<a href="#MenteesWithoutMentor">Mentees without a Mentor</a>
&nbsp;|&nbsp; 
<a href="#MenteesWithMentor">Mentees with a Mentor</a>


<h2 id="MenteesWithoutMentor">Mentees without a Mentor (@Model.MenteesWithoutMentor.Count())</h2>

@if (Model.MenteesWithoutMentor.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenteesWithoutMentor.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenteesWithoutMentor.First().CurrentActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenteesWithoutMentor.First().SkillFocus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.MenteesWithoutMentor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentActivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillFocus)
                </td>
                <td>
                    @Html.ActionLink("Details", "PendingMenteeDetails", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>There are no Mentees without a Mentor</p>
}

<h2 id="MenteesWithMentor">Mentees with a Mentor(@Model.MenteesWithMentor.Count())</h2>

@if (Model.MenteesWithMentor.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenteesWithMentor.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenteesWithMentor.FirstOrDefault().CurrentActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenteesWithMentor.FirstOrDefault().SkillFocus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenteesWithMentor.FirstOrDefault().Mentor)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.MenteesWithMentor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentActivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillFocus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mentor.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "ActiveMenteeDetails", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>There are no Mentees with a Mentor</p>
}