@model Mentoring.Web.Models.NewMenteeModel

@{
    ViewBag.Title = "Be a Mentee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Be a Mentee</h2>
<blockquote>
    <p>Please take into account that in order to apply to be a mentee you need to:</p>

    <ul>
        <li>Be in the company for at least three months</li>
    </ul>
</blockquote>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>To make the most of your potential, we would like to know your interests and your availability of time to take part in the program. Remember that the mentoring program is not a training course; it is a guidance program to develop your career.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CurrentActivity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentActivity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrentActivity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillFocus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillFocus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SkillFocus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FirstMentorOption, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#firstMentorOptionModal">
                    Select a Mentor
                </button>
                @Html.ValidationMessageFor(model => model.FirstMentorOption, "", new { @class = "text-danger" })
            </div>
        </div>

        <blockquote>
            <p style="font-size: small">Please take into account the recommendations of the document: <a href="#" target="_blank">What should you keep in mind when selecting your mentor?</a></p>
        </blockquote>

        <div class="modal fade" id="firstMentorOptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">First Mentor Option</h4>
                    </div>
                    <div class="modal-body" style="overflow-y:scroll; height:300px">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Topics</th>
                                    <th>Location</th>
                                    <th>Meetings Mode</th>
                                    <th>Seniority Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.EditorFor(model => model.FirstMentorOption, new { ListName = "FirstMentorList" })
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondMentorOption, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#secondMentorOptionModal">
                    Select a Mentor
                </button>
                @Html.ValidationMessageFor(model => model.SecondMentorOption, "", new { @class = "text-danger" })
            </div>
        </div>

        <blockquote>
            <p style="font-size: small">Please select a second option in case the mentor you chose in the previous question has reached the maximum number of mentees</p>
        </blockquote>

        <div class="modal fade" id="secondMentorOptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Second Mentor Option</h4>
                    </div>
                    <div class="modal-body" style="overflow-y:scroll; height:300px">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Topics</th>
                                    <th>Location</th>
                                    <th>Meetings Mode</th>
                                    <th>Seniority Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.EditorFor(model => model.SecondMentorOption, new { ListName = "SecondMentorList" })
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Seniority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Seniority, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Seniority, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                &nbsp;&nbsp;@Html.ActionLink("Cancel", "Index", "Home")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
