@model Mentoring.Web.Models.AllMenteesModel

@{
    ViewBag.Title = "Rejected Mentees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
@Html.ActionLink("Summary", "Summary")
&nbsp;|&nbsp; 
@Html.ActionLink("Pending Approval Mentees", "PendingApproval")
&nbsp;|&nbsp; 
@Html.ActionLink("Mentees By Status", "ByStatus")
&nbsp;|&nbsp; 
@Html.ActionLink("Inactive Mentees", "Inactive")
&nbsp;|&nbsp; 
@Html.ActionLink("Rejected Mentees", "Rejected")
&nbsp;|&nbsp; 
@Html.ActionLink("Pending Renewal Mentees", "PendingRenewal")

<h2>Rejected Mentees (@Model.Rejected.Count())</h2>

@if (Model.Rejected.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rejected.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rejected.FirstOrDefault().CurrentActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rejected.FirstOrDefault().SkillFocus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rejected.FirstOrDefault().Mentor)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Rejected)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentActivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillFocus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mentor.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "ActiveMenteeDetails", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>There are no rejected Mentees</p>
}