@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administration</h2>

<h3>Program Status</h3>
<h4>Current Program Status:&nbsp;&nbsp;<strong>@ViewBag.CurrentProgramStatus</strong></h4>
<i>Started on @ViewBag.CreationDate</i>

<br>
<br>
<h4>Change Status:</h4>
<br>
@Html.ActionLink("Start Mentoring Program", "StartProgram", "Home")
<br>
<br>

@Html.ActionLink("Program Renewal", "ProgramRenewal", "Home")
<br>
<br>

<h3>Admin Users</h3>

@Html.ActionLink("Configure User Roles", "ConfigureUserRoles", "Home")
<br/>
<cite>Permite configurar a que rol pertenece cada usuario</cite>


<h3>User History Log</h3>

@Html.ActionLink("View User History Log", "HistoryLog", "Home")
<br/>
<cite>Un extracto de diferentes acciones ejecutadas en la aplicación</cite>

<h3>Pending Mentees</h3>

@Html.ActionLink("Assign Pending Mentees", "AssignPendingMentees", "Home")
<br/>
<cite>Mentees cuyo segundo mentor ya aceptó pero el primero sigue sin responder luego de una cantidad de dias determinada</cite>
