@model IEnumerable<Mentoring.Web.Models.UserModel>

@{
    ViewBag.Title = "Configure User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configure User Roles</h2>

@{ var currentUser = (Mentoring.Web.Models.UserModel)Session["UserInfo"]; }

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentRole)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (item.CurrentRole != null && item.CurrentRole.Id == (int)Mentoring.Core.Enums.UserRoleCode.Career)
                {
                    <span>Admin</span>
                }
                else
                {
                    <p>User</p>
                }
            </td>
            <td>
                @if (currentUser.Id != item.Id)
                {
                    if (item.CurrentRole != null && item.CurrentRole.Id == (int)Mentoring.Core.Enums.UserRoleCode.Career)
                    {
                        @Html.ActionLink("Remove Admin Role", "ChangeRole", new { name = item.Name })
                    }
                    else
                    {
                        @Html.ActionLink("Add Admin Role", "ChangeRole", new { name = item.Name })
                    }
                }
            </td>
        </tr>
    }
</table>