@model Mentoring.Web.Models.AllMentorsModel

@{
    ViewBag.Title = "Pending Approval Mentors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var currentUser = (Mentoring.Web.Models.UserModel)Session["UserInfo"]; }

<br/>
@Html.ActionLink("Summary", "Summary")
&nbsp;|&nbsp; 
@Html.ActionLink("Pending Approval Mentors", "PendingApproval")
&nbsp;|&nbsp; 
@Html.ActionLink("Mentors By Status", "ByStatus")
&nbsp;|&nbsp; 
@Html.ActionLink("Inactive Mentors", "Inactive")
&nbsp;|&nbsp; 
@Html.ActionLink("Rejected Mentors", "Rejected")
&nbsp;|&nbsp; 
@Html.ActionLink("Pending Renewal Mentors", "PendingRenewal")

<h2>Pending Approval Mentors (@Model.PendingApproval.Count())</h2>

@if (Model.PendingApproval.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PendingApproval.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PendingApproval.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PendingApproval.First().Topics)
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model.PendingApproval)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="mailto:@Html.DisplayFor(modelItem => item.Email)">@Html.DisplayFor(modelItem => item.Email)</a>
                </td>
                <td>
                    @foreach (var topic in item.Topics)
                    {
                        <ul>
                            @if (topic.Description == "Other")
                            {
                                <li>Other: @Html.DisplayFor(itemModel => item.OtherTopic)</li>
                            }
                            else
                            {
                                <li>@topic.Description</li>
                            }
                        </ul>
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "MentorDetails", new { id = item.Id })
                    @if (currentUser.Id != item.Id)
                    {
                        <p>|</p> @Html.ActionLink("Accept", "AcceptMentor", new { id = item.Id })
                    }
                    @if (currentUser.Id != item.Id)
                    {
                        <p>|</p> @Html.ActionLink("Reject", "RejectMentor", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>There are no pending approval Mentors</p>
}
