@model Mentoring.Web.Models.AllMentorsCountModel

@{
    ViewBag.Title = "Mentors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
@Html.ActionLink("Summary", "Summary")
&nbsp;|&nbsp; 
@Html.ActionLink("Pending Approval Mentors", "PendingApproval")
&nbsp;|&nbsp; 
@Html.ActionLink("Mentors By Status", "ByStatus")
&nbsp;|&nbsp; 
@Html.ActionLink("Inactive Mentors", "Inactive")
&nbsp;|&nbsp; 
@Html.ActionLink("Rejected Mentors", "Rejected")
&nbsp;|&nbsp; 
@Html.ActionLink("Pending Renewal Mentors", "PendingRenewal")

<br/>
<p>
    @using (Html.BeginForm("ExportAllMentors", "Mentor", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <input type="submit" name="Export" id="ExportAllMentors" value="Export All Mentors" class="btn btn-success"/>
    }
</p>

<h4>@Html.ActionLink("Pending Approval Mentors (" + @Model.PendingApproval + ")", "PendingApproval")</h4>

<h4><a href="@Url.Action("ByStatus")#MentorsWithSlots">Mentors With Available Mentee Slots (@Model.MentorsWithSlots)</a></h4>

<h4><a href="@Url.Action("ByStatus")#MentorsWithoutSlots">Mentors Without Available Mentee Slots (@Model.MentorsWithoutSlots)</a></h4>

<h4>@Html.ActionLink("Inactive Mentors (" + @Model.Inactive + ")", "Inactive")</h4>

<h4>@Html.ActionLink("Rejected Mentors (" + @Model.Rejected + ")", "Rejected")</h4>

<h4>@Html.ActionLink("Pending Renewal Mentors (" + @Model.PendingRenewal + ")", "PendingRenewal")</h4>