@model Mentoring.Web.Models.SelectMentorModel

<tr>
    <td>
        @*@Html.RadioButtonFor(mentor => mentor.IsSelected, true, new { Name = ViewData["ListName"]})*@
        @Html.CheckBoxFor(mentor => mentor.IsSelected, new { @class = "checkbox-inline" })
        @Html.HiddenFor(mentor => mentor.Id)
    </td>
    <td>
        &nbsp;&nbsp;@Html.DisplayFor(mentor => mentor.Name)
    </td>
    <td>
        <ol>
            @foreach (var topic in Model.Topics)
            {
                if (topic.Description == "Other")
                {
                    <li>Other: @Html.DisplayFor(mentor => mentor.OtherTopic)</li>
                }
                else
                {
                    <li>@topic.Description</li>
                }
            }
        </ol>
    </td>
    <td>
        @Html.DisplayFor(mentor => mentor.Location)
    </td>
    <td>
        @Html.DisplayFor(mentor => mentor.MeetingsMode)
    </td>
    <td>
        @Html.DisplayFor(mentor => mentor.SeniorityLevel)
    </td>
</tr>