@model IEnumerable<Mentoring.Web.Models.UserLogModel>

@{
    ViewBag.Title = "User History Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users History Log</h2>

@using (Html.BeginForm("ExportAllHistoryLogs", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="submit" name="Export" id="Export" value="Export All Logs" class="btn btn-success" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
}

</table>